{% extends "index.twig" %}

{% block content %}
    <h2>Inhaltsverzeichnis</h2>

    <h3>Alle Rezepte</h3>
    {% set recipes = result.recipes %}
    {% include "include/recipe_list.twig" %}

{% endblock %}
