<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Recipe Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/bootstrap-responsive.css" rel="stylesheet">
    <link href="/styles/app.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav">
                        <ul class="nav">
                            {% block navItems %}
                            <li><a href="/recipe/edit"><i class="icon-plus-sign"></i> Neues Rezept</a></li>
                            <li><a href="/recipe/overview">Übersicht</a></li>
                            <li><a href="/recipe/tags">Tagindex</a></li>
                            <li><a href="/recipe/all">Alphabetisch</a></li>
                            <li><a href="/recipe/listRecipe">Einkaufsliste</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                    <div class="nav pull-right">
                        <ul class="nav">
                            {% block userNav %}
                            <li><a href="/user/logout"><i class="icon-off"></i> Abmelden</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" class="row">
            <div class="span12">
                <a href="/">
                    <h1><span>Recipe Manager</span></h1>
                </a>
            </div>
        </div>
        <div class="row">
            <div id="commands" class="span3">
            {% block commands %}
                <ul class="commands">
                    <li><a href="/recipes/edit">Neues Rezept</a></li>
                    <li><a href="/recipes/tags">Tagindex</a></li>
                    <li><a href="/recipe/all">Alphabetisch</a></li>
                    <li><a href="/recipes/listRecipe">Einkaufsliste</a></li>
                </ul>
            {% endblock %}
            </div>
            <div class="span9 span-content">
                <div id="content">
                {% block content %}
                    <div class="alert">
                        <h2>Please extend from this template…</h2>
                    </div>
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            {% block footer %}
            <div class="span12 footer">
            </div>
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="/scripts/vendor/jquery/jquery-1.7.2.js"></script>
    <!-- script type="text/javascript" src="/scripts/vendor/jquery/jquery-1.7.2.min.js"></script -->
    <script type="text/javascript" src="/scripts/vendor/jquery/jquery.history.js"></script>

    <script type="text/javascript" src="/scripts/vendor/bootstrap/bootstrap.js"></script>
    <!-- script type="text/javascript" src="/scripts/vendor/bootstrap/bootstrap.min.js"></script -->

    <script type="text/javascript" src="/scripts/crt.js"></script>
</body>
</html>
