<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Recipe Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/bootstrap-theme.css" rel="stylesheet">
    <link href="/styles/ui-lightness/jquery-ui-1.8.custom.css" rel="stylesheet">
    <link href="/styles/colorbox.css" rel="stylesheet">
    <link href="/styles/app.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <ul class="navbar-nav nav">
                    {% block navItems %}
                    <li><a href="/recipe/edit"><span class="glyphicon glyphicon-plus-sign"></span> Neues Rezept</a></li>
                    <li><a href="/recipe/overview">Übersicht</a></li>
                    <li><a href="/recipe/mine">Meine Rezepte</a></li>
                    <li><a href="/recipe/tags">Tagindex</a></li>
                    <li><a href="/recipe/all">Alphabetisch</a></li>
                    {% endblock %}
                </ul>
                {% block search %}
                <form method="get" action="/recipe/search" class="navbar-search pull-left">
                    <input type="text" name="phrase" class="search-query" placeholder="Search">
                </form>
                {% endblock %}
                <ul class="nav navbar-nav navbar-right">
                    {% block userNav %}
                    <li><a href="/user/logout"><span class="glyphicon glyphicon-off"></span> Abmelden</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div id="header" class="row">
            <div class="col-md-12">
                <a href="/">
                    <h1><span>Rezept-Manager</span></h1>
                </a>
            </div>
        </div>
        <div class="row">
            <div id="commands" class="col-md-3">
            {% block commands %}
                <ul class="commands">
                    <li><a href="/recipe/edit"><span class="glyphicon glyphicon-plus-sign"></span> Neues Rezept</a></li>
                    <li><a href="/recipe/tags"><span class="glyphicon glyphicon-tags"></span> Tagindex</a></li>
                    <li><a href="/recipe/all"><span class="glyphicon glyphicon-list-alt"></span> Alphabetisch</a></li>
                </ul>
            {% endblock %}
            </div>
            <div class="col-md-9 span-content">
                <div id="content">
                {% block content %}
                    <div class="alert">
                        <h2>Please extend from this template…</h2>
                    </div>
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            {% block footer %}
            <div class="col-md-12 footer">
            </div>
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="/scripts/vendor/jquery/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery/jquery.protect.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery/jquery.elastic.js"></script>

    <script type="text/javascript" src="/scripts/vendor/colorbox/jquery.colorbox.js"></script>

    <script type="text/javascript" src="/scripts/vendor/jquery-ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery-ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery-ui/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery-ui/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery-ui/jquery.ui.autocomplete.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery-ui/jquery.ui.slider.js"></script>

    <script type="text/javascript" src="/scripts/vendor/bootstrap/bootstrap.js"></script>

    <script type="text/javascript" src="/scripts/recipe.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
