{% extends "index.twig" %}

{% block content %}
    <h2>Meine Rezepte</h2>
    {% set recipes = result.mine %}
    {% include "include/recipe_list.twig" %}

    <h2>Andere Benutzer</h2>
    {% for userId, recipes in result.perUser %}
        <h3>{{result.user[userId].login}}</h3>
        {% include "include/recipe_list.twig" %}
    {% endfor %}

{% endblock %}
