/**
 * Reset CSS, so that we start with the same in all browsers
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0; 
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
q:before, q:after {
	content: '';
}

/**
 * Arbit CSS starts here.
 */
body {
	font-family: sans-serif;
	background-color: #ffffff;
	color: #000000;
}

a {
	text-decoration: underline;
	color: #000000;
}

form,
ul.navigation,
ul.user,
ul.authtypes,
ul.modules {
	display: none;
}

/**
 * Content layout definitions
 */

ul.errors {
	width: 80%;
	margin: 1em auto;
	padding: .5em 0em;
	border: 2px solid #ce5c00;
	list-style-type: disc;
}

ul.errors li {
	margin: .3em .3em .3em 2em;
}

div.content {
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: .2em 0em .5em .0em;
}

p {
	margin: 0em 0em 1em 0em;
	line-height: 140%;
}

div.break {
	clear: both;
}

p.authors,
p.license {
	padding: .2em;
	font-size: .9em;
	font-family: monospace;
}

/**
 * Dashboard layout
 */

ul.dashboard li {
	padding: .5em .5em .5em 48px;
	margin: 1em 0em;
}

ul.dashboard li.success {
	background-image: url( "../images/ok.png" );
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

ul.dashboard li.failed {
	background-image: url( "../images/error.png" );
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

ul.messages {
	margin: 0em;
	padding: 0em 0em 0em 1em;
	list-style-type: circle;
}

ul.messages li {
	background-color: transparent;
	font-size: .8em;
	padding: .1em;
	margin: 0em;
}

/**
 * Source code view
 */

code {
	display: block;
	white-space: pre;
}

code.dump {
	display: none;
}

code span.string {
    color: #a40000;
}
code span.string:before,
code span.string:after {
    content: '"';
}

code span.number {
    color: #204a87;
}

code span.bool,
code span.null,
code span.ressource {
    color: #4e9a06;
}

