/**
 * Reset CSS, so that we start with the same in all browsers
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0; 
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
q:before, q:after {
	content: '';
}

/**
 * Arbit CSS starts here.
 */
html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #ffffff;
	color: #000000;
	font-family: sans-serif;
    font-size: 14px;
}

/**
 * Dashboard and Exception header formatting
 */
body.dashboard h1,
body.exception h1 {
	height: 99px;
}

body.dashboard h1 a,
body.exception h1 a {
	max-width: 60em;
}

h1 {
	background-image: url( "../images/header.png" );
	font-size: 1em;
	margin: 0em;
	padding: 0em;
	height: 82px;
}

h1 a {
	display: block;
	height: 68px;
	margin: 0px auto;
	text-indent: -9999em;
	font-size: 1em;

	background-image: url( "../images/logo.png" );
	background-repeat: no-repeat;
	background-position: .5em 10px;
}

h2.project {
	margin: -1.6em .5em 0em 150px;
	padding: 0em;

	text-align: right;
	color: #000000;
	font-weight: normal;
}

a {
	color: #ce5c00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.main {
	margin: 0em auto;
	background-image: url( "../images/main.png" );
	background-repeat: repeat-y;
	background-position: top left;
	min-height: 20em;
}

body.exception div.main,
body.dashboard div.main {
	width: 60em;
	background-image: none;
}

div.footer {
	margin: 0em auto;
	padding: .5em 0em;

	background-color: #eeeeef;
	border-top: 1px solid #babdb6;
	border-bottom: 1px solid #babdb6;

	clear: both;
}

div.footer p {
	margin: 0em;
	padding: .2em .5em;

	font-size: .8em;
	text-align: right;
	color: #555753;
}

body.dashboard p.footnote {
	text-align: right;
	font-size: 0.8em;
	color: #555753;
}

body.dashboard div.footer {
	margin-top: 2em;
}

body.dashboard div.footer {
	margin-top: 2em;
}

body.dashboard div.footer p {
	max-width: 75em;
	margin: 0em auto;
}

object.pqi {
	float: right;
	margin: 0px 1em 0px .5em;
}

/**
 * Project main configuration
 */

ul.modules {
	margin: .5em auto 0em auto;
	background-color: #babdb6;
	padding: .2em 0em .2em 150px;
	border-bottom: 1px solid #888a85;
}

ul.modules li {
	display: inline;
	margin: 0em;
	padding: .1em .5em;
	color: #ffffff;
}

ul.modules li a {
	color: #ffffff;
	border-bottom: 2px solid #babdb6;
}

ul.modules li a.selected,
ul.modules li a:hover {
	color: #ffffff;
	border-bottom: 2px solid #fcaf3e;
	text-decoration: none;
}

/**
 * User navigation
 */
ul.user {
	float: right;
}

ul.user li {
	display: inline;
	margin-right: .5em;
}

ul.user li a {
	font-size: .8em;
}

/**
 * Module navigation
 */

ul.navigation {
	width: 150px;
	float: left;

	background-color: #eeeeef;

	margin: 0em;
}

ul.navigation li {
}

ul.navigation li a {
	display: block;
	padding: .1em .3em;

	border-bottom: 1px solid #888a85;
	border-right: 1px solid #eeeeef;

	font-size: .8em;
	color: #555753;
}

ul.navigation li a.selected,
ul.navigation li a:hover {
	border-right: 1px solid #fcaf3e;
	color: #555753;
	text-decoration: none;
	background-image: url( "../images/marker.png" );
	background-repeat: no-repeat;
	background-position: right;
}

/**
 * Content layout definitions
 */

ul.success,
ul.errors {
	width: 80%;
	min-height: 40px;
	margin: 1em auto;
	padding: .5em 0em;
	border: 2px solid #ce5c00;
	list-style-type: disc;

	background-color: #ffffff;
	background-image: url( "../images/error_bg.png" );
	background-repeat: no-repeat;
	background-position: bottom right;
}

ul.success {
	border: 2px solid #4e9a06;
	background-image: url( "../images/success_bg.png" );
}

ul.success li,
ul.errors li {
	margin: .3em .3em .3em 2em;
}

div.content {
	margin: 0em 0em 0em 150px;
	padding: 1em 1em;
}

body.exception div.content {
	margin: 0em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

div.content div.body {
	max-width: 50em;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	color: #000000;
	margin: 1em 0em .5em .0em;
}

.content .right {
	float: right;
}

div.content a.external:after {
	content: url( "../images/external.png" );
}

div.content a.internal:before {
	content: url( "../images/internal.png" );
}

div.content a.missing {
	color: #a40000;
}

.content h2 {
	margin-top: 0em;
}

p {
	margin: 0em 0em 1em 0em;
	line-height: 140%;
}

p.danger {
	border: 2px solid #a40000;
	text-align: left;
	font-weight: bold;
	padding: 5px;
}

p.warning {
	padding-left: 34px;
	min-height: 32px;

	font-style: italic;
	border: 1px solid #a40000;
	background-image: url( "../images/icons/32/warning.png" );
	background-repeat: no-repeat;
	background-position: left top;
}

p.hint {
	padding-left: 34px;
	min-height: 32px;

	font-style: italic;
	color: #888a85;

	background-image: url( "../images/icons/32/hint.png" );
	background-repeat: no-repeat;
	background-position: left top;
}

p.note {
	padding-left: 34px;
	min-height: 32px;

	font-style: italic;
	color: #888a85;

	background-image: url( "../images/icons/32/note.png" );
	background-repeat: no-repeat;
	background-position: left top;
}

p.message {
	margin: 2em;
	padding: .5em .5em .5em 34px;
	min-height: 32px;

	border: 2px solid #babdb6;

	background-image: url( "../images/icons/32/note.png" );
	background-repeat: no-repeat;
	background-position: left top;
}

div.content ol {
	margin: .5em 0em .3em 0em;
	padding: 0em 0em 0em 2em;
	list-style-type: lower-roman;
}

div.content ul {
	margin: .5em 0em .3em 0em;
	padding: 0em 0em 0em 2em;
	list-style-type: disc;
}

div.content ol li,
div.content ul li {
	padding: .1em 0em;
}

div.content ol li p,
div.content ul li p {
	margin: .5em 0em 0em 0em;
}

div.break {
	clear: both;
}

p.authors,
p.license {
	padding: .2em;
	font-size: .9em;
	font-family: monospace;
}

table {
    margin: .5em 0em;
	width: 100%;
	font-size: .95em;
	border: 1px solid #888a85;
    border-collapse: separate;
}

fieldset table {
    border-left: none;
    border-right: none;
}

thead {
	background-color: #d3d7cf;
	border-bottom: 1px solid #888a85;
}

tbody {
    border-bottom: 1px solid #888a85;
}

tbody tr:first-child th {
	padding-top: .5em;
	border-bottom: 1px solid #888a85;
}

thead th {
	text-align: center;
}

tbody td {
	border-left: 1px solid #888a85;
}

tbody td:first-child {
	border-left: none;
}

tr.light {
	background-color: #eeeeef;
}

tr.light td.source {
	background-color: #f8f8f9;
}

th {
	padding: .1em .3em;
	font-weight: bold;
}

div.content table.issues td a {
	display: block;
}

div.content table.issues td a strong {
	color: #000000;
}

td {
	padding: .1em;
	font-size: .9em;
}

td.form {
	text-align: center;
}

.state-1 {
	font-weight: bold;
}

td.image {
	text-align: center;
	vertical-align: middle;
}

td.number {
	text-align: right;
}

table p.annotation {
	margin: .1em 0em .1em 0em;
	font-size: .8em;
 	color: #888a85;
	line-height: 120%;
	font-weight: normal;
	background-image: none;
}


div.content dl {
	margin: .5em 0em 1em 0em;
}

div.content dt {
	width: 20%;
	font-weight: bold;
	float: left;
    clear: left;
	padding: .1em .1em .5em .1em;
}

div.content dd {
	margin-left: 21%;
	width: 79%;
	padding: .1em .1em .5em .1em;
}

.yui-hidden-data {
	display: none;
}

div.content ul.cloud {
    text-align: center;
	list-style-type: none;
    margin: .5em 0em;
    padding: 0em;
}

div.content ul.cloud li {
    display: inline;
}

div.content ul.cloud li.tag0 a {
    font-size: .6em;
    color: #000000;
}

div.content ul.cloud li.tag1 a {
    font-size: .7em;
    color: #140900;
}

div.content ul.cloud li.tag2 a {
    font-size: .8em;
    color: #291200;
}

div.content ul.cloud li.tag3 a {
    font-size: .9em;
    color: #3d1b00;
}

div.content ul.cloud li.tag4 a {
    font-size: 1em;
    color: #522400;
}

div.content ul.cloud li.tag5 a {
    font-size: 1.1em;
    color: #672e00;
}

div.content ul.cloud li.tag6 a {
    font-size: 1.2em;
    color: #7b3700;
}

div.content ul.cloud li.tag7 a {
    font-size: 1.3em;
    color: #904000;
}

div.content ul.cloud li.tag8 a {
    font-size: 1.4em;
    color: #a44900;
}

div.content ul.cloud li.tag9 a {
    font-size: 1.5em;
	color: #b95200;
}

div.content ul.cloud li.tag10 a {
    font-size: 1.6em;
	color: #ce5c00;
}

/**
 * Pager formatting
 */
div.content ul.pager {
    text-align: center;
	list-style-type: none;
}

div.content ul.pager:before {
    content: "[";
}

div.content ul.pager:after {
    content: "]";
}

div.content ul.pager li {
    display: inline;
}

div.content ul.pager li a {
    color: #000000;
}

div.content ul.pager li a.selected {
    font-weight: bold;
    color: #888a85;
}

/**
 * General form formatting
 */

form {
	display: block;
	clear: right;
	margin: 0em auto .5em auto;
	padding: 0em 0em .2em 0em;
	width: 80%;

	border: 1px solid #888a85;
}

form.wide {
	width: 100%;
	border: none;
}

fieldset {
}

legend {
	display: block;
	margin: 0em 0em .5em 0em;
	padding: .1em;

	font-weight: bold;
}

label {
	display: block;
	padding: .3em .1em .1em .1em;
	clear: right;
}

label textarea,
label select,
label input {
	width: 70%;
	float: right;

	background-color: #eeeeef;
	color: #000000;
	border: 1px solid #888a85;
}

label textarea.errnous,
label select.errnous,
label input.errnous {
	border: 2px solid #ce5c00;
	background-color: #ffffff;
}

label textarea,
label select {
	font-family: monospace;
}

label textarea:focus,
label select:focus,
label input:focus {
	background-color: #ffffff;
}

label textarea {
	font-family: monospace;
	font-size: .9em;
}

label input[type="submit"] {
	width: 15em;
	float: right;
}

td input[type="checkbox"],
td select {
	display: block;
	margin: .1em auto;
}

input[disabled="disabled"] {
	color: #888a85;
}

button.up,
button.down,
button.delete {
	width: 16px;
	height: 16px;
	padding: 1px;
	border: none;

	background-repeat: no-repeat;
}

button.up {
	background-image: url( '../images/icons/go-up.png' );
}

button.down {
	background-image: url( '../images/icons/go-down.png' );
}

button.delete {
	background-image: url( '../images/icons/edit-delete.png' );
}

table.diff td {
	vertical-align: top;
	padding: .5em;
	white-space: pre-wrap;
	font-family: monospace;
	width: 49%;
}

div.added,
td.added {
	background-color: #dff7c6;
}

div.removed,
td.removed {
	background-color: #fccbcb;
}

span.added {
	background-color: #dff7c6;
	color: #4e9a06;
}

span.removed {
	background-color: #fccbcb;
	color: #A40000;
}

/**
 * Dashboard layout
 */
ul.dashboard {
	width: 40em;
	margin: 0em auto;
}

ul.dashboard li {
	background-color: #eeeeef;
	color: #000000;
	-moz-border-radius: 10px;

	padding: .5em .5em .5em 48px;
	margin: 1em 0em;
}

ul.dashboard li.success {
	background-image: url( "../images/success.png" );
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

ul.dashboard li.failed {
	background-image: url( "../images/failure.png" );
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

ul.dashboard li h3 {
	font-size: 1em;
}

ul.dashboard li h3 a {
	color: #000000;
}

ul.dashboard li p {
	font-size: .8em;
	margin: .3em 0em;
}

ul.messages {
	margin: 0em;
	padding: 0em 0em 0em 1em;
	list-style-type: circle;
}

ul.messages li {
	background-color: transparent;
	font-size: .8em;
	padding: .1em;
	margin: 0em;
}

ul.messages li.success {
	background-image: none;
}

ul.messages li.failed {
	background-image: none;
	color: #ce5c00;
}

/**
 * Auth type selection
 */

div.content ul.authtypes {
	display: block;
	width: 80%;
	margin: .5em auto 0em auto;
	padding: 0em;
}

div.content ul.authtypes li {
	display: inline;
	padding: 0em .2em;
	margin: 0em .5em;
	border: 1px solid #888a85;
}

div.content ul.authtypes li.selected {
	background-color: #d3d7cf;
	border-bottom-color: #d3d7cf;
}

div.content ul.authtypes li#password {
	background-image: url( "../images/password.png" );
	background-repeat: no-repeat;
	padding-left: 24px;
}

div.content ul.authtypes li#openid {
	background-image: url( "../images/openid.png" );
	background-repeat: no-repeat;
	padding-left: 24px;
}

/**
 * Code listing
 */

pre,
code {
	display: block;
	overflow: auto;
	white-space: pre;

	font-family: monospace;
	background-color: #eeeeef;
	color: #000000;
}

p pre,
p code {
	display: inline;
}

span.string {
    color: #a40000;
}
span.string:before,
span.string:after {
    content: '"';
}

span.number {
    color: #204a87;
}

span.bool,
span.null,
span.ressource {
    color: #4e9a06;
}

span.comment {
    color: #204a87;
    font-style: italic;
}

span.keyword {
    color: #4e9a06;
}

span.variable {
    color: #ce5c00;
}

span.warning {
    font-weight: bold;
    color: #ce5c00;
}

span.error {
    font-weight: bold;
    color: #a40000;
}

/**
 * Debug variable dump
 */

div.dump {
	display: block;
	overflow: auto;
    white-space: normal;

	font-size: .9em;
	font-family: monospace;
	background-color: #ffffff;
	color: #000000;
    max-height: 20em;
}

div.dump ul {
    padding-left: 2em;
}

div.dump ul.model {
    border-left: 2px solid #729fcf;
}

div.dump ul.array {
    border-left: 2px solid #8ae234;
}

div.dump ul.object {
    border-left: 2px solid #ef2929;
}

/**
 * Tabbed sub navigation lists in modules
 */
div.content ul.tabs {
	width: 100%;
	height: 1.2em;
	clear: right;
	margin: 0em 0em 1em 0em;
	padding: 0em;
	border-bottom: 1px solid #d3d7cf;
}

div.content ul.tabs li {
	float: left;
	margin: 0px .5em;
	padding: 0em .5em;
	height: 1.2em;
	list-style-type: none;
	border: 1px solid #d3d7cf;
	border-bottom: 1px solid #eeeeec;
}

div.content ul.tabs li.active {
	background-color: #ffffff;
}

div.content ul.tabs li a {
	padding: 0em;
	color: #000000;
	font-size: .8em;
}

/**
 * Metadata definition list boxes
 */
div.content div.box,
div.content dl.metadata {
	width: 25%;
	float: right;
	clear: right;
	border: 1px solid #d3d7cf;
	margin: 0em 0em .5em .5em;
	padding: .2em;
	font-size: .8em;
}

div.content div.box h3 {
	margin-top: 0em;
}

div.content dl.metadata dt {
	width: 25%;
	font-weight: bold;
	float: left;
	clear: left;
}

/**
 * Status bars
 */

div.statusbar {
	margin: .2em auto;
	padding: 1px;
	border: solid 1px #babdb5;
	width: 90%;
}

div.status {
	background-color: #d3d7d5;
	min-height: 1em;
}

div.status span.percent {
	position: absolute;
	display: block;
	font-size: .9em;
}

/**
 * Paging
 */
span.yui-pg-pages {
	display: block;
	margin: .5em auto;
	padding: .1em;
	width: 80%;
	text-align: center;
	border: 1px solid #d3d7cf;
}

span.yui-pg-current-page {
	font-weight: bold;
}

/**
 * Debug output
 */
div.debug {
	font-size: .8em;
	color: #555753;
}

div.debug h2 {
	text-align: center;
}

div.debug ul.debug li {
	border-bottom: 1px solid #d3d7cf;
	padding: .1em .5em;
	margin: 0em;
}

div.debug ul.debug li h3 {
	font-size: 1.2em;
	font-weight: bold;
}

div.debug ul.debug li h4 {
	background-color: #eeeeef;
	font-size: 1.1em;
	font-weight: normal;
}

div.debug ul.debug li p {
	font-family: monospace;
	white-space: pre;
	white-space: pre-wrap;
	margin: .2em .2em;
}

div.debug h3.debug {
	background-color: #eeeeef;
}

div.debug h3.info,
div.debug h3.success {
	background-color: #c1dea4;
}

div.debug h3.notice,
div.content table.metrics tr.warning {
	background-color: #fdc879;
}

div.debug h3.failed,
div.debug h3.warning,
div.content table.metrics tr.error {
	background-color: #e9b5b5;
}

div.debug h3.error,
div.debug h3.fatal {
	background-color: #901f1f;
}

/**
 * Issue tracker specific
 */
div.issue div.article {
	width: 70%;
	padding: 0em .5em;
	margin: 1em 0em 1em 0em;
	font-size: .9em;
	background-color: #eeeeef;
	border: solid 1px #babdb5;
}

div.issue table {
	width: 70%;
}

div.content ul.comments {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

div.content ul.comments > li {
	margin: .5em 0em;
	padding: .2em .5em;
	width: 70%;
	background-color: #eeeeef;
	border: solid 1px #babdb5;
}

div.content ul.comments li h3 {
	font-size: 1em;
	font-weight: normal;
	margin: 0em;
}

div.content ul.comments li div.article {
	width: 100%;
	padding: 0em;
	margin: 0em;
	font-size: .9em;
	background-color: transparent;
	border: none;
}

div.content ul.graphs {
	list-style-type: none;
	padding: 0em;
	margin: 0em;
    float: right;
}

div.content div.tracker_box,
div.content ul.graphs li {
	border: 1px solid #babdb6;
	padding: 0em;
	margin: .5em;
}

div.content div.tracker_box {
    margin-right: 320px;
}

div.content ul.graphs li {
	float: right;
    clear: right;
}

div.content div.tracker_box h3,
div.content ul.graphs li h3 {
	margin: 0em;
	padding: .2em;
	font-size: 1.2em;
	background-color: #eeeeef;
	color: #2e3436;
}

div.content div.tracker_box h3 a {
    display: block;
    float: right;
    font-size: .8em;
}

div.content div.tracker_box table {
    border: none;
    margin: 0em;
}

div.content div.tracker_box table td.icon {
    width: 20px;
    border: none;
}

div.roadmap {
	border: solid 1px #babdb5;
	padding: 0em;
	margin: .2em 2em;
}

div.roadmap h4 {
	background-color: #eeeeef;
	margin: 0em;
}

div.content ul.history {
}

div.content ul.history h3 {
	display: inline;
	font-size: 1em;
}

div.content ul.history .date {
	color: #babdb5;
	font-size: .8em;
}

div.content ul.history .author {
	font-size: .8em;
}

div.content ul.history .comment {
	display: block;
	margin-bottom: .3em;
	font-style: italic;
}

div.content ul.history .textcomment {
	display: block;
	margin-bottom: .3em;
	white-space: pre-wrap;
	font-family: monospace;
}

div.content table.actions {
    margin: 0em auto 1em auto;

    border: none;
    width: 50%;
}

div.content table.actions td {
    padding: 1em;
    text-align: center;
    width: 20%;
}

div.content table.actions td a {
    display: block;
    color: #000000;
}

div.content table.actions td a:hover {
    text-decoration: none;
    color: #555753;
}

div.content table.actions tr.icons td {
    padding-bottom: 0em;
}

div.content table.actions tr.text td {
    background-color: #eeeeef;
    padding: .2em;
}

div.content table.actions input#tracker-goto {
    width: 48px;
}

/**
 * Source browser specific
 */
table.listing {
	border: none;
}

table.listing td {
	border: none;
	vertical-align: top;
}

table.listing td.log {
	white-space: pre-wrap;
	font-family: monospace;
}

table.listing pre {
	background-color: transparent;
}

table.source {
	border: none;
}

table.source td {
	border: none;
	vertical-align: top;
}

table.source td.version {
	color: #555753;
	text-align: right;
	padding: 0em .2em;
}

table.source td.author {
	color: #555753;
	font-style: italic;
	padding: 0em .2em;
}

table.source td.source {
	white-space: pre;
	white-space: pre-wrap;
	font-family: monospace;
	padding: 0em .2em;
    font-size: 1em;
}

table.source td.number {
	padding: 0em .5em;
    color: #babdb6;
}

table.source tbody {
    border-bottom: 1em solid #eeeeef;
}

div.diff-chunk h3 {
    font-size: 1.2em;
}

div.diff-chunk {
    background-color: #eeeeef;
}

div.diff-chunk div.line {
    font-family: monospace;
    white-space: pre;
}

table.source td.annotations a,
table.source td.annotations img {
    display: inline;
}

table.source td.annotations p.hint {
    display: none;
    position: relative;
    top: 0px;
    left: -340px;
    width: 300px;

    border: 1px solid #babdb6;
    background-color: #ffffff;
    font-size: .9em;
}

#tooltip {
    position: absolute;
    border: 1px solid #babdb6;
    background-color: #ffffff;
    font-size: .8em;
    padding: 5px;
    opacity: 0.85;
    width: 300px;
}

#tooltip h3 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

#tooltip h3, #tooltip div {
    margin: 0;
}

table.source tr.phpcs-warning,
table.source tr.phpcs-warning td.source,
table.source tr.pdepend-warning,
table.source tr.pdepend-warning td.source,
table.source tr.phpdoc-warning,
table.source tr.phpdoc-warning td.source {
    background-color: #efd3b7;
}

table.source tr.phpcs-error,
table.source tr.phpcs-error td.source,
table.source tr.pdepend-error,
table.source tr.pdepend-error td.source,
table.source tr.phpdoc-error,
table.source tr.phpdoc-error td.source {
    background-color: #eba1a1;
}

table.source tr.phpunit-missed td.source {
    background-color: #ef2929;
}

table.source tr.phpunit-covered td.source {
    background-color: #8ae234;
}

div.content ul.annotations {
    list-style-type: none;
    padding: 0em;
}

div.content ul.annotations h3 {
    font-size: 1em;
}

div.content ul.annotations a {
    color: #000000;
}

/**
 * PHPDoc API documentation
 */

div.phpdoc table {
    width: 100%;
    max-width: 100%;
    border: none;
    font-size: 1em;
}

div.phpdoc table td {
    font-size: 1em;
    border: none;
}

div.phpdoc table td.menu {
    width: 15%;
    overflow: hidden;
}

div.phpdoc table thead {
	background-color: transparent;
}

div.phpdoc ul {
	margin: .5em 0em .3em 0em;
	padding: 0em 0em 0em 1em;
	list-style-type: disc;
    font-size: .9em;
}

div.phpdoc ul ul {
    font-size: 1em;
}

div.phpdoc hr {
    border: none;
    height: 1px;
    background-color: #babdb6;
}

div.phpdoc div.credit {
    font-size: .9em;
    color: #555753;
}

div.phpdoc .method-signature,
div.phpdoc .classname,
div.phpdoc code {
	display: inline;
	white-space: normal;

	font-family: monospace;
	background-color: transparent;
	color: #000000;
}

div.phpdoc .method-signature {
	display: block;
	overflow: auto;
	background-color: #eeeeef;
    margin-bottom: .5em;
}

div.content ul.phpdoc-error {
    padding: 0em;
    margin: 0em;
    list-style-type: none;
}

div.content ul.phpdoc-error li {
    padding: 0em 0em 0em 30px;
    margin: .2em 0em .7em 0em;
	background-repeat: no-repeat;
	background-position: top left;
}

div.content ul.phpdoc-error li.warning {
	background-image: url( "../images/error.png" );
}

div.content ul.phpdoc-error li.error {
	background-image: url( "../images/warning.png" );
}

div.content ul.phpdoc-error li h3 {
    margin: 0em;
    font-size: 1em;
    font-weight: normal;
    color: #555357;
    font-style: italic;
}

/**
 * PDepend
 */

div.content table.metrics td {
    width: 20%;
    text-align: right;
}

div.content table.metrics tr.warning td,
div.content table.metrics tr.error td {
    font-weight: bold;
}

div.content form.metrics {
    clear: none;
    width: auto;
    border: none;
}

/**
 * PHPUnit
 */
div.content table.tests {
    width: 100%;
}

div.content table.tests td.name {
    width: 70%;
}

div.content table.tests td.time,
div.content table.tests td.assertions,
div.content table.tests td.count {
    vertical-align: top;
    text-align: right;
}

div.content table.tests code {
    margin-left: 20px;
    white-space: pre;
    white-space: pre-wrap;
}

div.content table.tests a {
    color: #000000;
    cursor: se-resize;
}

