/**
 * Reset CSS, so that we start with the same in all browsers
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0; 
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
q:before, q:after {
	content: '';
}

/**
 * Custom CSS starts here.
 */
html {
	height: 100%;
}

/* Font configuration */
body {
	font-family: sans-serif;
    font-size: 14px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Color configuration */
body {
	color: #000000;
}

a {
	color: #ce5c00;
}

/* Layout configuration */
body {
	min-height: 100%;
	background-image: url( "../images/bg_lines.png" );
}

h1 {
    margin: 1em auto 0em auto;
	padding: 0em;
    width: 802px;
	height: 101px;

	background-image: url( "../images/header.png" );
}

h1 a {
	display: block;
    width: 802px;
	height: 101px;
	margin: 0px auto;
	text-indent: -9999em;
}

div.main {
	margin: 0em auto;
    padding: 5px;
    width: 792px;
	min-height: 20em;

	background-image: url( "../images/body.png" );
	background-repeat: repeat-y;
}

div.footer {
	margin: 0em auto;
	padding: 0px;
    width: 802px;
	height: 35px;

	background-image: url( "../images/footer.png" );
}

/**
 * Content layout definitions
 */

ul.success,
ul.errors {
	width: 80%;
	min-height: 40px;
	margin: 1em auto;
	padding: .5em 0em;
	border: 2px solid #ce5c00;
	list-style-type: disc;

	background-color: #ffffff;
	background-image: url( "../images/error_bg.png" );
	background-repeat: no-repeat;
	background-position: bottom right;
}

ul.success {
	border: 2px solid #4e9a06;
	background-image: url( "../images/success_bg.png" );
}

ul.success li,
ul.errors li {
	margin: .3em .3em .3em 2em;
}

div.content {
	margin: 0em 0em 0em 150px;
	padding: 1em 1em;
}

body.exception div.content {
	margin: 0em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

div.content div.body {
	max-width: 50em;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	color: #000000;
	margin: 1em 0em .5em .0em;
}

.content .right {
	float: right;
}

div.content a.external:after {
	content: url( "../images/external.png" );
}

div.content a.internal:before {
	content: url( "../images/internal.png" );
}

div.content a.missing {
	color: #a40000;
}

.content h2 {
	margin-top: 0em;
}

p {
	margin: 0em 0em 1em 0em;
	line-height: 140%;
}

div.content ol {
	margin: .5em 0em .3em 0em;
	padding: 0em 0em 0em 2em;
	list-style-type: lower-roman;
}

div.content ul {
	margin: .5em 0em .3em 0em;
	padding: 0em 0em 0em 2em;
	list-style-type: disc;
}

div.content ol li,
div.content ul li {
	padding: .1em 0em;
}

div.content ol li p,
div.content ul li p {
	margin: .5em 0em 0em 0em;
}

div.break {
	clear: both;
}

table {
    margin: .5em 0em;
	width: 100%;
	font-size: .95em;
	border: 1px solid #888a85;
    border-collapse: separate;
}

fieldset table {
    border-left: none;
    border-right: none;
}

thead {
	background-color: #d3d7cf;
	border-bottom: 1px solid #888a85;
}

tbody {
    border-bottom: 1px solid #888a85;
}

tbody tr:first-child th {
	padding-top: .5em;
	border-bottom: 1px solid #888a85;
}

thead th {
	text-align: center;
}

tbody td {
	border-left: 1px solid #888a85;
}

tbody td:first-child {
	border-left: none;
}

tr.light {
	background-color: #eeeeef;
}

tr.light td.source {
	background-color: #f8f8f9;
}

th {
	padding: .1em .3em;
	font-weight: bold;
}

td {
	padding: .1em;
	font-size: .9em;
}

td.form {
	text-align: center;
}

td.image {
	text-align: center;
	vertical-align: middle;
}

td.number {
	text-align: right;
}

div.content dl {
	margin: .5em 0em 1em 0em;
}

div.content dt {
	width: 20%;
	font-weight: bold;
	float: left;
    clear: left;
	padding: .1em .1em .5em .1em;
}

div.content dd {
	margin-left: 21%;
	width: 79%;
	padding: .1em .1em .5em .1em;
}

/**
 * General form formatting
 */

form {
	display: block;
	clear: right;
	margin: 0em auto .5em auto;
	padding: 0em 0em .2em 0em;
	width: 80%;

	border: 1px solid #888a85;
}

form.wide {
	width: 100%;
	border: none;
}

fieldset {
}

legend {
	display: block;
	margin: 0em 0em .5em 0em;
	padding: .1em;

	font-weight: bold;
}

label {
	display: block;
	padding: .3em .1em .1em .1em;
	clear: right;
}

label textarea,
label select,
label input {
	width: 70%;
	float: right;

	background-color: #eeeeef;
	color: #000000;
	border: 1px solid #888a85;
}

label textarea.errnous,
label select.errnous,
label input.errnous {
	border: 2px solid #ce5c00;
	background-color: #ffffff;
}

label textarea,
label select {
	font-family: monospace;
}

label textarea:focus,
label select:focus,
label input:focus {
	background-color: #ffffff;
}

label textarea {
	font-family: monospace;
	font-size: .9em;
}

label input[type="submit"] {
	width: 15em;
	float: right;
}

td input[type="checkbox"],
td select {
	display: block;
	margin: .1em auto;
}

input[disabled="disabled"] {
	color: #888a85;
}

/**
 * Auth type selection
 */

div.content ul.authtypes {
	display: block;
	width: 80%;
	margin: .5em auto 0em auto;
	padding: 0em;
}

div.content ul.authtypes li {
	display: inline;
	padding: 0em .2em;
	margin: 0em .5em;
	border: 1px solid #888a85;
}

div.content ul.authtypes li.selected {
	background-color: #d3d7cf;
	border-bottom-color: #d3d7cf;
}

div.content ul.authtypes li#password {
	background-image: url( "../images/password.png" );
	background-repeat: no-repeat;
	padding-left: 24px;
}

div.content ul.authtypes li#openid {
	background-image: url( "../images/openid.png" );
	background-repeat: no-repeat;
	padding-left: 24px;
}

/**
 * Debug variable dump
 */

div.dump {
	display: block;
	overflow: auto;
    white-space: normal;

	font-size: .9em;
	font-family: monospace;
	background-color: #ffffff;
	color: #000000;
    max-height: 20em;
}

div.dump ul {
    padding-left: 2em;
}

div.dump ul.model {
    border-left: 2px solid #729fcf;
}

div.dump ul.array {
    border-left: 2px solid #8ae234;
}

div.dump ul.object {
    border-left: 2px solid #ef2929;
}

/**
 * Debug output
 */
div.debug {
    margin: 1em auto;
    border: 1px solid #babdb6;
    background-color: #eeeeef;
    width: 790px;
    padding: 5px;

	font-size: .8em;
	color: #555753;
}

div.debug h2 {
	text-align: center;
}

div.debug ul.debug li {
	border-bottom: 1px solid #d3d7cf;
	padding: .1em .5em;
	margin: 0em;
}

div.debug ul.debug li h3 {
	font-size: 1.2em;
	font-weight: bold;
}

div.debug ul.debug li h4 {
	background-color: #eeeeef;
	font-size: 1.1em;
	font-weight: normal;
}

div.debug ul.debug li p {
	font-family: monospace;
	white-space: pre;
	white-space: pre-wrap;
	margin: .2em .2em;
}

div.debug h3.debug {
	background-color: #eeeeef;
}

div.debug h3.info,
div.debug h3.success {
	background-color: #c1dea4;
}

div.debug h3.notice,
div.content table.metrics tr.warning {
	background-color: #fdc879;
}

div.debug h3.failed,
div.debug h3.warning,
div.content table.metrics tr.error {
	background-color: #e9b5b5;
}

div.debug h3.error,
div.debug h3.fatal {
	background-color: #901f1f;
}
