article {
    font-family: "sans-serif";
    font-size: "11pt";
    color: #2e3436;
}

page {
    padding: "15mm 20mm";
}

title {
    font-family: sans-serif;
}

section > title {
    font-size: 24pt;
    margin: 5mm 0mm 2mm 0mm;
    border: 1px solid #555357;
}

section > section > title {
    margin: 5mm 0mm 2mm 0mm;
    font-size: 18pt;
    color: #555357;
    border: none;
    border-bottom: 1px solid #babdb6;
    border-right: 1px solid #babdb6;
}

section > section > section > title {
    font-size: 14pt;
    color: #2e3436;
    border: none;
}

section > section > section > section > title {
    font-size: 13pt;
}

section > section > section > section > section > title {
    font-size: 12pt;
}

para {
    margin: 2mm 0mm 1mm 0mm;
}

itemizedlist > listitem {
    padding-left:     10mm;
    margin-bottom:    0mm;
}

