#content h1 {
    background-image: url("/images/header.png");
    width: 880px;
    height: 95px;
    background-repeat: none;

    margin-top: 50px;
    margin-bottom: 20px;
}

#content h1 span {
    display: none;
}

