html {
    overflow-y: scroll;
}

body {
    padding-top: 40px;
}

#header h1 {
    background-image: url("/images/header.png");
    width: 880px;
    height: 95px;
    background-repeat: none;

    margin-bottom: 20px;
}

#header h1 span {
    display: none;
}

/**
 * Main content area
 */
#content {
	background: #eeeeec;
	border: 1px solid #643525;
	border-top: none;
	box-shadow: #3a1f15 5px 5px 4px;
	-moz-box-shadow: #3a1f15 5px 5px 4px;
	-webkit-box-shadow: #3a1f15 5px 5px 4px;

	padding: 38px 51px 51px 51px;

    min-height: 300px;

    margin-bottom: 20px;
}

.span-content {
    margin-left: 0px;
}

/**
 * Commands
 */
ul.commands {
	width: 100%;
	float: left;
	padding: 0;
	margin: 32px 0 0 0;
	list-style-type: none;	
}

ul.commands li {
	float: right;
	display: inline;
	background: #e1d7ce url( "../images/jakob/tab_shadow.png") right top repeat-y;
	margin: 0 0 8px 0;
	clear: both;

	box-shadow: #3a1f15 2px 2px 3px;
	-moz-box-shadow: #3a1f15 2px 2px 3px;
	-webkit-box-shadow: #3a1f15 2px 2px 3px;
}

ul.commands li a {
	display: block;
	height: 25px;
	padding: 9px 8px 0 8px; 
	color: #000000;
}

ul.commands li a:hover {
    color: #915014;
	padding-right: 16px;
	text-decoration: none;
}

/**
 * Navigation improvements
 */
.navbar .nav > li > a {
    text-shadow: 0 1px 0 #ffffff;
}

.navbar {
    border-bottom: 2px solid #aa8d74;
}

/**
 * Content styling
 */
table,
label textarea, label select, input {
    border: 1px solid #aa8d74;
	padding: 2px;
}

label textarea, label select, input {
	box-shadow: #e1d7ce 2px 2px 2px;
	-moz-box-shadow: #e1d7ce 2px 2px 2px;
	-webkit-box-shadow: #e1d7ce 2px 2px 2px;
}

form div.recipe textarea:focus, form div.recipe input:focus,
label textarea:focus, label select:focus, input:focus {
	background-color: #ffffff;
	border: 1px solid #643525;
}

form div.recipe textarea.errnous, form div.recipe input.errnous,
label textarea.errnous, label select.errnous, input.errnous {
	background-color: #fee5bf;
}

ul.success,
ul.errors {
	width: 100%;
	margin: 1em auto;
	padding: 1em 0;
	list-style-type: disc;

	min-height: 50px;	

	box-shadow: #e1d7ce 2px 2px 2px;
	-moz-box-shadow: #e1d7ce 2px 2px 2px;
	-webkit-box-shadow: #e1d7ce 2px 2px 2px;

	border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul.errors {
	background: #fdcf8a url( "../images/jakob/warning.png" ) 8px center no-repeat;
}

ul.success {
	list-style-type: none;
	background: #9cbcdd url( "../images/jakob/information.png" ) 8px center no-repeat;	
}

ul.success li {
	margin:  16px .5em .5em 70px;
}

ul.errors li {
	margin: 16px .5em .5em 5.5em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 1em;
}

h1, h2, h4, h5, h6 {
	margin: 1em 0em .5em .0em;
}

h2 {
	text-shadow: #e1d7ce 2px 2px 1px;
}

h3 {
	margin: 2em 0em .5em .0em;
}

h4.subtitle {
	margin-top: .2em;
	margin-left: 1em;
}

.right {
	float: right;
}

a.external:after {
	content: url( "../images/external.png" );
}

a.internal:before {
	content: url( "../images/internal.png" );
}

h2 {
	margin-top: 0em;
}

p {
	margin: 1em 0em 0em 0em;
	line-height: 140%;
}

ol {
	margin: .5em 0em .3em 0em;
	padding: 0em 0em 0em 2em;
	list-style-type: lower-roman;
}

ul {
	margin: .5em 0em .3em 0em;
	padding: 0em 0em 0em 1em;
	list-style-type: disc;
}

ol li p,
ul li p {
	margin: .5em 0em 0em 0em;
}

div.break {
	clear: both;
}

table {
    margin: .5em 0em;
	width: 100%;
    border-collapse: separate;
}

fieldset table {
    border-left: none;
    border-right: none;
}

tbody tr:first-child th {
	padding-top: .5em;
}

thead th {
	text-align: center;
}

tbody td:first-child {
	border-left: none;
}

th {
	padding: .1em .3em;
	font-weight: bold;
}

td {
	padding: .1em;
}

td.form {
	text-align: center;
}

td.image {
	text-align: center;
	vertical-align: middle;
}

td.number {
	text-align: right;
}

dl {
	margin: 1em 0em 2em 0em;
}

dt {
	width: 24%;
	font-weight: bold;
	float: left;
    clear: left;
	padding: 0.1em 0.1em 0.5em 1em;
}

dd {
	margin-left: 24%;
	width: 76%;
	padding: .1em .1em .5em .1em;
}

dl dd input {
	margin: 0 0 0 0.5em;
}

div.article {
	margin: 0 0 2em 0;
}

ul.cloud {
    text-align: center;
	list-style-type: none;
    margin: 1em auto;
    padding: 0em;
    width:  500px;
}

ul.cloud li {
    display: inline;
	margin: 0 .2em;
}

table.tags {
    border: none;
}

table.tags td {
    border: none;
    width: 33%;
    vertical-align: top;
}

table.tags td > ul {
    list-style-type: none;
    padding-left: 0em;
}

table.tags td li {
	padding: 0em;
}

h2 a.edit {
    font-size: .6em;
}

/**
 * General form formatting
 */

form {
	display: block;
	clear: right;
	margin: 1em auto;
}

form.wide {
	width: 100%;
	border: none;
}

fieldset {
}

legend {
	display: none;
	margin: 0em 0em .5em 0em;
	padding: .1em;

	font-weight: bold;
}

label {
	display: block;
	padding: .3em .1em .1em .1em;
	clear: right;
}

label textarea,
label select,
label input {
	width: 70%;
	float: right;
}

form.export label select,
form.export label input {
	width: 40%;
	float: right;
}

label input.number {
	width: 3em;
    text-align: right;
}

label textarea,
label select {
	font-family: monospace;
}

label textarea:focus,
label select:focus,
label input:focus {
	background-color: #ffffff;
}

label textarea {
	font-family: monospace;
    max-height: 500px;
}

form.export input[type="submit"] {
    width: 60%;
}

input[type="submit"] {
	width: 15em;
	float: right;
	margin: 1em 0 0 0;
	background-color: #ffffff;
}

td input[type="checkbox"],
td select {
	display: block;
	margin: .1em auto;
}

input[disabled="disabled"] {
	color: #888a85;
}

/**
 * Recipe form formatting
 */
form div.recipe {
    padding: 5px;
}

table td.amount input,
form div.recipe textarea,
form div.recipe input {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: inherit;
    margin: inherit;
    padding: 2px;
    border: 1px solid #aa8d74;
    width: 100%;

	box-shadow: #e1d7ce 2px 2px 2px;
	-moz-box-shadow: #e1d7ce 2px 2px 2px;
	-webkit-box-shadow: #e1d7ce 2px 2px 2px;
}

table td.amount input {
    width: 85%;
    text-align: right;
}

form div.recipe input.number {
    width: 2.5em;
    text-align: right;
}

form div.recipe input.tags {
    width: auto;
	margin: 0.3em 0 0 0.5em;
}

.recipe h1, .recipe h2, .recipe h4, .recipe h5, .recipe h6 {
	margin: .4em 0em .2em .0em;
}

form div.recipe ul.ingredients ul {
    padding-left: 5%;
}

form div.recipe ul.ingredients input.title,
form div.recipe ul.ingredients ul input.ingredient {
    width: 70%;
}

ul.ingredients {
    list-style-type:    none;
}

ul.ingredients li {
    margin: 0.1em 0;
}

table.ingredients {
    width: auto;
    border: none;
}

table.ingredients tr {
    width: auto;
}

table.ingredients td {
    padding:    2px 10px;
}

table td.amount,
table.ingredients td.amount {
    text-align:         right;
    width:  80px;
}

div.jsonSuggestResults {
    position:absolute;
    z-index:1;
}

div.jsonSuggestResults div.resultItem {
    position:relative;
    height:auto;
    cursor:pointer;
}

div.jsonSuggestResults div.resultItem img {
    float:left;
    margin-right:10px;
}

div.jsonSuggestResults div.resultItem p {
    margin:0px;
    padding:0px;
}

div.jsonSuggestResults div.resultItem p strong {
    font-weight:bold;
    text-decoration:underline;
}

div.jsonSuggestResults div.resultItem p.extra {
    font-size: x-small !important;
    position:absolute;
    bottom:3px;
}

ul.exports {
	list-style-type: none;
}

ul.exports li {
	margin: 0.2em 0;
}

ul.exports img {
	margin: 0 8px 0 0;
}

/**
 * Pager formatting
 */
ul.pager {
    text-align: center;
	list-style-type: none;
	margin-top: 2em;
}

ul.pager:before {
    content: "[";
}

ul.pager:after {
    content: "]";
}

ul.pager li {
    display: inline;
}

