{%if result.errors %}
<div class="alert alert-error">
    <h2 class="alert-heading">Errors occured</h2>
    <ul>
    {%for error in result.errors %}
        <li>{{error}}</li>
    {%endfor%}
    </ul>
</div>
{%endif%}
