<form method="get" action="/recipe/search"
      onsubmit="return validateForm( this );">
<fieldset>
	<legend>Rezepte durchsuchen</legend>

    <label>
        <input type="text" name="search" value="" />
        Suche
    </label>

	<label>
        <input type="submit" value="Suchen" />
    </label>
</fieldset>
</form>
