{%set max = 0 %}
{%for tag, value in result.popular %}
    {%set max = max( max, value ) %}
{%endfor%}

<ul class="cloud">
{%for tag, value in result.popular %}
    <li class="tag" style="font-size: {{100 + ( 100 * value / max )}}%;">
        <a href="/recipe/tag/{{tag}}">{{tag}}</a>
    </li>
{%endfor%}
</ul>
